.login-wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-box {
	border-radius: 10px;
	background-color: #fff;
	padding: 40px;
	text-align: center;
}