.modal-backdrop {
	z-index: 990;
}

.modal {
	z-index: 1000;
}

.modal-product {
	.modal-content {
		border-radius: 10px;
		padding: 40px;
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;
	}

	&__header-box {
		display: flex;
		align-items: flex-start;
	}

	&__avatar {
		width: 64px;
		height: 64px;
		object-fit: contain;
		object-position: center center;
		margin-right: 20px;
	}

	&__title {
		display: block;
		font-size: 16px;
		font-weight: $semibold;
		color: $grey-900;
	}

	&__models {
		font-size: 14px;
		color: $grey-600;
		margin-left: 10px;
		padding-left: 10px;
		position: relative;

		&:before {
			content:"";
			width: 2px;
			height: 2px;
			border-radius: 50%;
			background-color: $grey-600;
			position: absolute;
			left: 0;
			top: 9px;
		}

		&:first-child {
			margin-left: 0;
			padding-left: 0;

			&:before {
				display: none;
			}
		}
	}

	&__status {
		font-size: 14px;
		color: $grey-600;
		display: block;

		&.modal-product__status--open {
			color: #4CAF50;
		}
	}

	&__description {
		font-size: 14px;
		font-weight: $regular;
		line-height: 1.5;
		color: $grey-600;
	}

	&__label {
		background-color: $primary-color-900;
		color: #fff;
		display: inline-block;
		font-size: 12px;
		font-weight: $regular;
		padding: 3px 15px;
		border-radius: 100px;
	}
	.modal-list-gallery {
		display: flex;
		flex-wrap: wrap;
		width: calc(100% + 20px);
		margin-left: -10px;

		.modal-list-gallery__item {
			flex: 0 0 14.28%;
			padding: 0 10px;
			margin-bottom: 20px;
		}


		.modal-list-gallery__thumb-box {
			position: relative;
			display: block;
			padding-bottom: 100%;
			overflow: hidden;
			border-radius: 10px;

			.modal-list-gallery__thumb {
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				object-fit: cover;
				object-position: center center;
			}
		}
	}

}

.close-modal {
	border: none;
	background-color: $grey-100;
	width: 50px;
	height: 50px;
	border-radius: 10px;

	.eva {
		fill: $grey-900;
	}
}