.page-contato {
	.header-full-page {
		margin-bottom: 350px;
		@media only screen and (max-width: 991px) {
			margin-bottom: 0;
		}
		.col-lg-6 {
			position: relative;
		}
		.form-abs {
			position: absolute;
			width: calc(100% - 30px);
			left: 15px;

			@media only screen and (max-width: 991px) {
				position: inherit;
				width: auto;
				left: 0;
				margin-top: 50px;
			}
		}
	}
}