.single-post{

    .section-nav-main {
        background-color: #fff;
        padding: 10px 0;
    }


    .center{
        max-width: 1030px;
        width: 100%;
        margin: 0 auto;
    }
    .subtitle{
        font-weight: bold;
        margin-bottom: 30px;
    }
    .subtitle-h2{
        font-size: 32px;
    }
    .subtitle-h3{
        font-size: 28px;
    }
    .subtitle-h4{
        font-size: 24px;
        margin-top: 40px;
    }
    .subtitle-h5{
        font-size: 20px;
    }
    .subtitle-h6{
        font-size: 18px;
    }
    .subtitle-h7{
        font-size: 18px;
        font-weight: normal;
        margin: 50px 0 30px 0;
    }
    p{
        font-size: 18px;
    }
    .hero__content{
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
    }
    .category-bullet{
        display: inline-flex;
        width: 90px;
        height: 22px;
        font-size: 12px;
        color: #009EC4;
        align-items: center;
        justify-content: center;
        background: #FFF;
        border-radius: 100px;
        margin-bottom: 40px;
    }
    h1.hero__title{
        color: #FFF;
        font-size: 48px;
        line-height: 55px;
    }
    .box-author{
        display: inline-flex;
        align-items: center;
        margin-top: 25px;
        .box-autor__image{
            background-color: $grey-300;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 15px;

            .eva {
                fill: $grey-500;
                width: 20px;
                height: 20px;
            }
        }
        .box-author__name{
            font-size: 16px;
            color: #fff;
        }
        .box-author__date{
            font-size: 14px;
            color: #fff;
        }
    }
    .images-content__slider{
        max-width: 850px;
        width: 100%;
        margin: 0 auto;
    }
    .swiper-hero{
        position: relative;
    }
    .swiper-hero-slider-next .arrow-next{
        background: url('../images/chevron-right.png');
        display: inline-block;
        position: absolute;
        width: 60px;
        height: 60px;
        top: 0;
        bottom: 0;
        margin: auto;
        right: -70px;
    }
    .swiper-hero-slider-prev .arrow-prev{
        background: url('../images/chevron-left.png');
        display: inline-block;
        position: absolute;
        width: 60px;
        height: 60px;
        top: 0;
        bottom: 0;
        margin: auto;
        left: -70px;
    }
    .list-main__image{
        label.figcaption{
            text-align: left;
        }
    }
    .list-main__text{
        box-sizing: border-box;
        padding-left: 30px;
    }
    .box-border-left{
        border-left: 8px solid #009EC4;
        box-sizing: border-box;
        padding: 30px;
        max-width: 920px;
        width: 100%;
        margin: 50px auto 50px auto;
    }
    .card-default__name{
        margin: 15px 0;
    }
    .card-default__link{
        span{
            font-size: 14px;
            font-weight: bold;
            margin-right: 15px;
        }
    }
    .arrow-right{
        background: url('../images/arrow-right.png');
        display: inline-block;
        width: 16px;
        height: 14px;
    }
    .show-news{
        color: #E54C71;
        text-decoration: none;
        display: flex;
        align-items: center;
    }
}