.card-default-bg {
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	height: 410px;
	display: flex;
	align-items: flex-end;
	-webkit-box-shadow: 0px 6px 30px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 6px 30px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 6px 30px 0px rgba(0,0,0,0.1);

	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgb(0,0,0);
		background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
		z-index: 1;
	}

	&--disabled {
		&:after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #DEE2E6;
			opacity: 0.8;
			z-index: 4;
		}
	}

	&__label {
		font-size: 12px;
		color: #fff;
		position: absolute;
		z-index: 5;
		top: 30px;
		left: 0px;
		line-height: 1.5;
		font-weight: $regular;
		color: #fff;
		background-color: #009EC4;
		padding: 5px 15px;
		border-radius: 0 100px 100px 0;
	}

	&__image {
		object-fit: cover;
		object-position: center center;
		width: 100%;
		height: 410px;
		position: absolute;
		top: 0;
		left: 0;
	}

	&__content {
		position: relative;
		z-index: 2;
		padding: 30px;
	}
	&__title {
		font-size: 18px;
		line-height: 1.5;
		font-weight: $semibold;
		color: #fff;
		margin: 0;
	}
	&__date {
		font-size: 16px;
		line-height: 1.5;
		font-weight: $regular;
		color: #fff;
	}

}