.card-icon {
	background-color: #fff;
	border-radius: 10px;
	padding: 30px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid $grey-100;
	text-decoration: none;
	color: $grey-800;
	// -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
	// -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
	// box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);

	&__text {
		display: block;
		margin-top: 20px;
		font-size: 16px;
		font-weight: $semibold;
	}
}
.card-icon:hover, .card-icon.active{
	text-decoration: none;
	color: $primary-color-000;
	background: $secondary-color-800;
	img{
		filter: brightness(100);
	}
}