.card-product {
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
	display: block;
	text-decoration: none;

	&__header {
		display: flex;
		align-items: start;
		margin-bottom: 20px;
	}

	&__avatar {
		width: 64px;
		height: 64px;
		object-fit: contain;
		object-position: center center;
		margin-right: 20px;
	}

	&__title {
		display: block;
		font-size: 16px;
		font-weight: $semibold;
		color: $grey-900;
	}

	&__models {
		font-size: 14px;
		color: $grey-600;
		margin-left: 10px;
		padding-left: 10px;
		position: relative;

		&:before {
			content:"";
			width: 2px;
			height: 2px;
			border-radius: 50%;
			background-color: $grey-600;
			position: absolute;
			left: 0;
			top: 9px;
		}

		&:first-child {
			margin-left: 0;
			padding-left: 0;

			&:before {
				display: none;
			}
		}
	}

	&__status {
		font-size: 14px;
		color: $grey-600;
		display: block;

		&.card-product__status--open {
			color: #4CAF50;
		}
	}

	&__description {
		font-size: 14px;
		font-weight: $regular;
		line-height: 1.5;
		color: $grey-600;
	}

	&__label {
		background-color: $primary-color-900;
		color: #fff;
		font-size: 12px;
		font-weight: $regular;
		padding: 3px 15px;
		border-radius: 100px;
	}
}