.card-logo {
	display: block;
	background-color: #fff;
	text-align: center;
	border-radius: 10px;
	-webkit-box-shadow: 0px 6px 30px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 6px 30px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 6px 30px 0px rgba(0,0,0,0.1);
	padding: 20px;
	height: 100%;

	&__image {
		object-fit: contain;
		object-position: center center;
		max-width: 100%;
		max-height: 100px;
	}

}