.card-info {
	display: block;
	background-color: #fff;
	border-radius: 10px;
	-webkit-box-shadow: 0px 6px 30px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 6px 30px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 6px 30px 0px rgba(0,0,0,0.1);
	padding: 40px;
	height: 100%;

	@media only screen and (max-width: 991px) {
		padding: 20px;
	}

	&__icon {
		fill: #009EC4;
		width: 50px;
		height: 50px;
		margin-bottom: 40px;

		@media only screen and (max-width: 991px) {
			margin-bottom: 20px;
		}
	}

	&__title {
		font-size: 20px;
		font-weight: $semibold;
		line-height: 1.5;

		@media only screen and (max-width: 991px) {
			font-size: 18px;
		}
	}

	&__description {
		p {
			font-size: 16px;
			font-weight: $regular;
			line-height: 1.5;
			color: #868E96;

			@media only screen and (max-width: 991px) {
				font-size: 14px;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}