.card-note {
	padding: 20px;
	border-radius: 10px;
	border: 1px solid $grey-200;
	height: 100%;

	&__title {
		display: block;
		color: $secondary-color-900;
		font-size: 16px;
		font-weight: $semibold;
		margin-bottom: 10px;
	}

	&__description {
		p {
			font-size: 14px;
			font-weight: $regular;
			line-height: 1.5;
			color: $grey-600;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}