.card-post {
	border-radius: 10px;
	background-color: #fff;
	overflow: hidden;
	height: 100%;
	display: block;
	text-decoration: none;
	color: $grey-900;
	-webkit-box-shadow: 0px 6px 30px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 6px 30px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 6px 30px 0px rgba(0,0,0,0.1);

	&:hover {
		color: $grey-900;
	}


	&__image {
		object-fit: cover;
		object-position: center center;
		width: 100%;
		height: 130px;
	}
	&__content {
		position: relative;
		padding: 30px;
	}
	&__category {
		font-size: 12px;
		color: #fff;
		position: absolute;
		top: -13px;
		left: 30px;
		line-height: 1.5;
		font-weight: $regular;
		color: #fff;
		background-color: #009EC4;
		padding: 5px 15px;
		border-radius: 100px;

	}
	&__title {
		font-size: 16px;
		line-height: 1.5;
		font-weight: $semibold;
		display: block;
		margin-bottom: 0px;
	}
	&__description {
		color: $grey-600;
		font-size: 16px;
		line-height: 1.5;
		font-weight: $regular;
		margin: 20px 0 0;
	}
	&__link {
		color: $primary-color-900;
		font-size: 14px;
		display: flex;
		align-items: center;
		line-height: 1.5;
		font-weight: $semibold;
		margin: 20px 0 0;

		.eva {
			fill: $primary-color-900;
			margin-left: 8px;
		}
	}
}