.card-default {
	border-radius: 10px;
	background-color: #fff;
	overflow: hidden;
	height: 100%;
	display: block;
	text-decoration: none;
	color: $grey-900;
	-webkit-box-shadow: 0px 6px 30px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 6px 30px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 6px 30px 0px rgba(0,0,0,0.1);

	&:hover {
		color: $grey-900;
	}


	&__image {
		object-fit: cover;
		object-position: center center;
		width: 100%;
		height: 130px;
	}
	&__content {
		position: relative;
		padding: 30px;
	}
	&__category {
		font-size: 12px;
		color: #fff;
		position: absolute;
		top: -13px;
		left: 30px;
		line-height: 1.5;
		font-weight: $regular;
		color: #fff;
		background-color: #009EC4;
		padding: 5px 15px;
		border-radius: 100px;

	}
	&__avatar-bg {
		width: 64px;
		height: 64px;
		position: absolute;
		top: -40px;
		right: 30px;
		border-radius: 50%;
		background-color: #fff;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		-webkit-box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.1);
		box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.1);
	}
	&__avatar {
		object-fit: contain;
		object-position: center center;
		width: 40px;
		height: 40px;
	}
	&__title {
		font-size: 16px;
		line-height: 1.5;
		font-weight: $semibold;
		display: block;
		margin-bottom: 0px;
	}
	&__name {
		font-size: 14px;
		line-height: 1.5;
		font-weight: $regular;
		color: #868E96;
		display: block;
		margin-bottom: 0px;
	}
	&__status {
		font-size: 14px;
		line-height: 1.5;
		font-weight: $regular;
		color: #4CAF50;
		display: block;
		margin-bottom: 20px;
	}
	&__info{
		p {
			font-size: 16px;
			line-height: 1.5;
			font-weight: $semibold;
			color: #FB527B;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__link {
		display: block;
		text-decoration: none;
		color: #FB527B;
		fill: #FB527B;
		font-size: 14px;

		&:hover {
			text-decoration: none;
			color: #FB527B;
		}

		.eva {
			margin-left: 5px;
		}
	}	
}